name: Node.js CI - Dockge

on:
  push:
    branches: [master]
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [master]
    paths-ignore:
      - '*.md'

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [22]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node}}

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Check Typescript
        run: npm run check-ts

      - name: Build
        run: npm run build:frontend

